<form method="post" action="/activate">
	<input type="hidden" name="email" value="<%= @user.email %>" />
	<p>Please input your password to activate your account: <input type="password" name="password" /></p>
	<p><input type="submit" value="Activate" /></p>
</form>
