<p>Change password for account: <%= @user.email %></p>
<form method="post" action="/change-password">
	<input type="hidden" name="email" value="<%= @user.email %>" />
	<p>new password: <input type="password" name="new_password" /></p>
	<p>new password confirmation: <input type="password" name="new_password_confirmation" /></p>
	<p><input type="submit" /></p>
</form>
