<form method="post" action="/forgot-password">
	<p>Enter your email address and we will send you a link to reset your password: <input type="text" name="email" /></p>
	<p><input type="submit" value="Email me" /></p>
</form>
