<p>Reset password for account: <%= @user.email %></p>
<form method="post" action="/reset-password">
	<input type="hidden" name="email" value="<%= @user.email %>" />
	<input type="hidden" name="token" value="<%= @token %>" />
	<p>new password: <input type="password" name="new_password" /></p>
	<p>new password confirmation: <input type="password" name="new_password_confirmation" /></p>
	<p><input type="submit" value="Reset" /></p>
</form>
